<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/output.css' />
</head>

<body>
  <div class="min-h-full">
    <section class="relative isolate overflow-hidden bg-gray-800 px-6 py-24 sm:py-32 lg:px-8">
      <div
        class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,var(--color-indigo-500),transparent)] opacity-10">
      </div>
      <div
        class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-gray-900 shadow-xl ring-1 shadow-indigo-500/5 ring-white/5 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center">
      </div>
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <h1 class="text-center text-orange-500 text-6xl">Bagavathgita</h1>
        <figure class="mt-10">
          <blockquote class="text-center text-xl/8 font-semibold text-white sm:text-2xl/9">
            <p class="text-gray-400">
              Total Chapters - 18<br />
              Link Pattern : https://dailygita.vercel.app/gita/{chapter-no}/{verse-no}
            </p>
            <ul class="text-xl mt-4 text-gray-300 sm:text-lg">
              <li>Chapter - 1 Total verses - 47</li>
              <li>Chapter - 2 Total verses - 72</li>
              <li>Chapter - 3 Total verses - 43</li>
              <li>Chapter - 4 Total verses - 42</li>
              <li>Chapter - 5 Total verses - 29</li>
              <li>Chapter - 6 Total verses - 47</li>
              <li>Chapter - 7 Total verses - 30</li>
              <li>Chapter - 8 Total verses - 28</li>
              <li>Chapter - 9 Total verses - 34</li>
              <li>Chapter - 10 Total verses - 42</li>
              <li>Chapter - 11 Total verses - 55</li>
              <li>Chapter - 12 Total verses - 20</li>
              <li>Chapter - 13 Total verses - 35</li>
              <li>Chapter - 14 Total verses - 27</li>
              <li>Chapter - 15 Total verses - 20</li>
              <li>Chapter - 16 Total verses - 24</li>
              <li>Chapter - 17 Total verses - 28</li>
              <li>Chapter - 18 Total verses - 78</li>
            </ul>
          </blockquote>

          <figcaption class="mt-10">
            <img src="https://avatars.githubusercontent.com/u/59993636?s=48&v=4" alt=""
              class="mx-auto size-10 rounded-full" />
            <div class="mt-4 flex items-center justify-center space-x-3 text-base">
              <div class="font-semibold text-white">T. Sreenivasulu</div>
              <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-white">
                <circle r="1" cx="1" cy="1" />
              </svg>
              <div class="text-gray-400">Web Developer</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </section>
  </div>
</body>

</html>